﻿<section class="edit-admin-setting">
    <h2 class="title">Cập nhật giá trị cấu hình</h2>

    <form (ngSubmit)="submitForm()" [formGroup]="adminSettingForm" novalidate>
        <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.value }">
            <label for="value" class="col-7 col-form-label">{{adminSetting.name}}</label>
            <div class="col-5">
                <div class="input-group">
                    <input class="form-control" step="{{adminSetting.value}}" max="3000000000" min="{{adminSetting.value}}" type="number" id="value" formControlName="value" required numberValidator maximumNumberValidator>
                </div>

                <p *ngIf="formErrors.value" class="form-control-feedback">
                    {{formErrors.value}}
                </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 submit">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </form>
</section>