﻿<section class="admin-portal container-fluid row">
    <div class="col-md-3 left-content">
        <div class="left-menu">
            <img src="/images/landing-page/logo.png" class="logo" />

            <div class="vertical-dropdown">
                <div class="menu">
                    <div class="title">Quản lý</div>
                    <ul class="items">
                        <!--<li class="item">
                            <a class="dropdown">
                                <i class="fa fa-street-view" aria-hidden="true"></i>&#32;
                                Quản lý khách hàng
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-content">
                                <li class="content"><a>Danh sách khách hàng</a></li>
                                <li class="content"><a>Mở sổ tiết kiệm</a></li>
                            </ul>
                        </li>-->

                        <li class="item" [ngClass]="{active: activeDropdown(['admin-portal/passbooks', 'admin-portal/passbooks/new'])}">
                            <a class="dropdown" [ngClass]="{active: activeDropdown(['admin-portal/passbooks', 'admin-portal/passbooks/new'])}">
                                <i class="fa fa-book" aria-hidden="true"></i>&#32;
                                Quản lý tài khoản tiết kiệm
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-content" [ngClass]="{'transition visible': activeDropdown(['admin-portal/passbooks', 'admin-portal/passbooks/new'])}" [ngStyle]="{'display': !activeDropdown(['admin-portal/passbooks', 'admin-portal/passbooks/new']) ? 'none' : ''}">
                                <li class="content" routerLink="passbooks" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                    <a>Danh sách tài khoản tiết kiệm</a>
                                </li>
                                <li class="content" routerLink="passbooks/new" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                    <a>Mở tài khoản tiết kiệm</a>
                                </li>
                            </ul>
                        </li>

                        <li class="item" [ngClass]="{active: activeDropdown(['admin-portal/passbook-types', 'admin-portal/passbook-types/new'])}">
                            <a class="dropdown" [ngClass]="{active: activeDropdown(['admin-portal/passbook-types', 'admin-portal/passbook-types/new'])}">
                                <i class="fa fa-file" aria-hidden="true"></i>&#32;
                                Quản lý loại tài khoản tiết kiệm
                                <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-content" [ngClass]="{'transition visible': activeDropdown(['admin-portal/passbook-types', 'admin-portal/passbook-types/new'])}" [ngStyle]="{'display': !activeDropdown(['admin-portal/passbook-types', 'admin-portal/passbook-types/new']) ? 'none' : ''}">
                                <li class="content" routerLink="passbook-types" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                    <a>Danh sách loại tài khoản tiết kiệm</a>
                                </li>
                                <li class="content" routerLink="passbook-types/new" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                    <a>Thêm loại tài khoản tiết kiệm</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="menu">
                    <div class="title">Lịch sử & Thống kê</div>
                    <ul class="items">
                        <li routerLink="transaction-histories" class="item" [ngClass]="{active: activeDropdown(['admin-portal/transaction-histories'])}">
                            <a class="no-dropdown" [ngClass]="{active: activeDropdown(['admin-portal/transaction-histories'])}">
                                <i class="fa fa-file-text" aria-hidden="true"></i>&#32;
                                Lịch sử giao dịch
                            </a>
                        </li>

                        <li routerLink="daily-income-report" class="item" [ngClass]="{active: activeDropdown(['admin-portal/daily-income-report'])}">
                            <a class="no-dropdown" [ngClass]="{active: activeDropdown(['admin-portal/daily-income-report'])}">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>&#32;
                                Báo cáo doanh số hoạt động
                            </a>
                        </li>

                        <li routerLink="monthly-saving-accounts-report" class="item" [ngClass]="{active: activeDropdown(['admin-portal/monthly-saving-accounts-report'])}">
                            <a class="no-dropdown" [ngClass]="{active: activeDropdown(['admin-portal/monthly-saving-accounts-report'])}">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>&#32;
                                Báo cáo mở/đóng tài khoản
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="menu">
                    <div class="title">Cấu hình</div>
                    <ul class="items">
                        <li routerLink="admin-settings" class="item" [ngClass]="{active: activeDropdown(['admin-portal/admin-settings'])}">
                            <a class="no-dropdown" [ngClass]="{active: activeDropdown(['admin-portal/admin-settings'])}">
                                <i class="fa fa-cog" aria-hidden="true"></i>&#32;
                                Quy định
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 right-content">
        <div class="header flex">
            <div class="breadcrumb">&#32;</div>
            <div class="user-block">
                <div class="dropdown">
                    <a *ngIf="user" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.name}}</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="body">
            <flash></flash>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
