﻿section.admin-portal {
    width: 100%;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }

    .left-content, .right-content {
        padding: 0;
    }

    .left-content {
        flex-basis: 17%;

        * {
            color: #fff;
        }

        .left-menu {
            width: 17%;
            position: fixed;
            top: 0;
            background: #2A3F54;
            height: 100%;

            .logo {
                width: 100%;
                height: 90px;
            }

            .ui.vertical.menu {
                width: 100%;
                background: none;
                border: 0;

                .item {
                    margin: 0;

                    &.active {
                        border-right: 5px solid #1ABB9C;
                    }
                }
            }
        }
    }

    .right-content {
        flex-basis: 83%;
        max-width: 83%;

        .header {
            background: #EDEDED;
            position: fixed;
            top: 0;
            height: 60px;
            padding: 0 25px 0 15px;
            align-items: center;
            width: 83%;
            z-index: 999;

            > * {
                flex: 1;
            }

            .user-block {
                text-align: right;

                .dropdown {
                    cursor: pointer;
                    display: -webkit-inline-box;
                    display: -webkit-inline-flex;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    vertical-align: middle;
                    outline: none;

                    .dropdown-menu {
                        right: 0;
                        left: unset !important;
                        min-width: unset !important;
                        padding: 0 !important;

                        .dropdown-item {
                            padding: 10px;

                            &:hover {
                                background: none;
                            }
                        }
                    }
                }
            }
        }

        .body {
            margin: 70px 10px 0 10px;

            .title {
                text-align: center;
                margin-bottom: 40px;
            }

            section {
                margin: 0 90px;

                .empty-notice {
                    font-weight: bold;
                    text-align: center;
                }

                .col-form-label {
                    text-align: right;
                }

                .submit {
                    text-align: center;
                }
            }

            .date-picker {
                width: 100%;
            }
        }
    }

    section.passbooks, section.passbook-types {
        .k-grid-header th.k-header {
            text-align: center;
            padding-left: 0.6em !important;
        }

        tbody[role='rowgroup'] {
            text-align: center;

            .k-grouping-row {
                text-align: left;
            }

            td {
                padding: .929em 0em;

                .k-button.k-button-icontext {
                    padding: 5px !important;
                    min-width: unset !important;
                }
            }
        }
    }

    section.edit-admin-setting, section.edit-passbook-type, section.new-passbook-type {
        margin: 0 310px !important;
    }

    section.passbooks, section.histories-saving-account, section.transaction-histories {
        .search-button {
            position: fixed;
            right: 0px;
            top: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
            background: #000;
            color: #fff;
            cursor: pointer;

            i {
                width: 30px;
            }
        }

        .collapse-content {
            z-index: 1000;
            background: #000;
            padding: 20px 10px;
            color: #fff;
            width: 460px;

            form > button {
                width: 100%;
            }
        }
    }
}
