﻿section.daily-income-report, section.monthly-saving-accounts-report {
    .k-grid {
        font-family: "Arial", sans-serif;
    }

    .k-grid  .k-grid-header  .k-header  .k-link {
        height: auto;
    }

    .k-grid  .k-grid-header  .k-header {
        white-space: normal;
    }
}

section.daily-income-report {
    #k-content {
        margin: auto;
        margin-bottom: 5px;
        max-width: 50%;
    }
}

section.monthly-saving-accounts-report {
    .criteria {
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            margin: 0 2px;
        }

        .saving-account-types {
            flex: 2;
        }

        .k-content {
            flex: 2;
        }

        .button-report {
            flex: 1;
        }
    }
}
