﻿section.passbooks {
    margin: 0 70px !important;

    tbody[role='rowgroup'] td {
        .k-button.k-button-icontext {
            width: 28px;
            height: 30px;
            margin: 2px;

            &.deposit, &.withdraw {
                width: 30px;
                height: 28px;
                margin-top: 2px !important;
                margin-bottom: 2px !important;
            }

            &.deposit {
                transform: rotate(90deg);
            }

            &.withdraw {
                transform: rotate(-90deg);
            }
        }
    }
}

section.new-passbook {
    margin: 0 60px !important;
}

section.passbook, section.deposit-passbook, section.withdraw-passbook {
    margin: 0 150px !important;

    .article {
        font-weight: bold;
        text-align: right;
    }

    .btn {
        margin: 5px auto;
    }
}

section.histories-saving-account {
    .btn.btn-primary {
        margin: 5px auto;
    }
}
