﻿<section class="daily-income-report">
    <h2 class="title">Báo cáo doanh số hoạt động theo ngày</h2>

    <div class="k-content" id="k-content">
        <input id="report-date" class="date-picker" />
    </div>

    <div [hidden]="!date" class="k-content wide">
        <div id="report"></div>
    </div>

    <div id="daily-income-report-template" [hidden]="true">
        <div class="daily-income-report-template" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-align: center;">
            <div class="header" style="position: absolute; top: 40px; left: 0; right: 0; bottom: 0; text-align: center;">Ngày: {{date | date: 'dd/MM/yyyy'}}</div>
        </div>
    </div>
</section>
