﻿<section class="transaction-histories">
    <h2 class="title">Lịch sử giao dịch</h2>

    <div class="empty-notice" [hidden]="transactionHistories.length">Không có lịch sử giao dịch nào.</div>

    <div [hidden]="!transactionHistories.length">
        <div class="k-content wide">
            <div id="transaction-history-list" (scroll)="scrollGrid($event)"></div>
        </div>
    </div>

    <div class="search-button" data-activates="slide-out">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div id="slide-out" class="side-nav collapse-content">
        <form (ngSubmit)="search()" #searchHistoryForm="ngForm" novalidate>
            <div class="form-group">
                <label for="user-name">Tên người giao dịch</label>
                <input [(ngModel)]="transactionHistorySearch.trader" #trader="ngModel" name="trader" type="text" class="form-control" id="trader" placeholder="Tên người giao dịch">
            </div>

            <div class="form-group">
                <label for="start-date">Ngày bắt đầu</label>
                <input type="text" class="form-control date-picker" id="start-date">
            </div>

            <div class="form-group">
                <label for="end-date">Ngày kết thúc</label>
                <input type="text" class="form-control date-picker" id="end-date">
            </div>

            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            <br />
            <button type="button" class="btn btn-secondary" (click)="clearSearch()">Xóa tìm kiếm</button>
        </form>
    </div>
</section>