﻿<section class="navbar full-width" [class.fixed]="isFixed">
    <nav class="flex">
        <div class="left-nav">
            <a>Trang chủ</a>
            <a>Giới thiệu</a>
            <a>Gói tiết kiệm</a>
        </div>
        <div class="nav-logo"><img src="/images/landing-page/main-logo.png" /></div>
        <div class="right-nav">
            <a>Hướng dẫn</a>
            <a>Liên hệ</a>
            <a *ngIf="!user" class="login-button">Đăng nhập</a>
            <a *ngIf="user && user.role == 'Admin'" routerLink="admin-portal">Admin Portal</a>
        </div>
    </nav>
    <login></login>
</section>
