﻿<section class="withdraw-passbook">
    <h2 class="title">Rút tiền</h2>

    <h4 class="title">Thông tin tài khoản</h4>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Loại sổ tiết kiệm:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.savingAccountType.name}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Tên khách hàng:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.user.name}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Email:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.user.email}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Chứng minh nhân dân:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.user.personalIdentity}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày sinh:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.user.dateOfBirth | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Số điện thoại:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.user.phoneNumber}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Địa chỉ:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.user.address}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Số dư:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.balance | number}} VNĐ
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày mở:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.createdAt | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Tiền lãi:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.interest | number}} VNĐ
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày đáo hạn:</label>
                </div>

                <div *ngIf="!withdrawViewModel.savingAccount.closedAt" class="col">
                    Không kỳ hạn
                </div>

                <div *ngIf="withdrawViewModel.savingAccount.closedAt" class="col">
                    {{withdrawViewModel.savingAccount.closedAt | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Tổng cộng:</label>
                </div>

                <div class="col">
                    {{withdrawViewModel.savingAccount.bankAccount.balance + withdrawViewModel.savingAccount.interest | number}} VNĐ
                </div>
            </div>
        </div>
    </div>

    <br />

    <form (ngSubmit)="submitForm()" [formGroup]="withdrawForm" novalidate>
        <div *ngIf="withdrawViewModel.savingAccount.savingAccountType.name == 'Không kỳ hạn'" class="form-group row" [ngClass]="{ 'has-danger': formErrors.value }">
            <label for="value" class="col-5 col-form-label">Số tiền cần rút</label>
            <div class="col-5">
                <div class="input-group">
                    <input class="form-control" step="50000" max="{{withdrawViewModel.savingAccount.bankAccount.balance + withdrawViewModel.savingAccount.interest}}" min="50000" type="number" id="value" formControlName="value" required numberValidator maximumNumberValidator>
                </div>

                <p *ngIf="formErrors.value" class="form-control-feedback">
                    {{formErrors.value}}
                </p>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.trader }">
            <label for="trader" class="col-5 col-form-label">Người giao dịch</label>
            <div class="col-5">
                <div class="input-group">
                    <input class="form-control" type="text" id="trader" formControlName="trader" required>
                </div>

                <p *ngIf="formErrors.trader" class="form-control-feedback">
                    {{formErrors.trader}}
                </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 submit">
                <button type="submit" class="btn btn-primary">Rút tiền</button>
            </div>

            <div class="col-12 submit">
                <button routerLink="/admin-portal/passbooks/{{withdrawViewModel.savingAccount.id}}" type="button" class="btn btn-secondary">Xem chi tiết</button>
            </div>
        </div>
    </form>
</section>