﻿<section class="login-modal ui modal">
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="body flex flex-column">
            <input name="email" placeholder="Email" type="email" [(ngModel)]="model.email" #email="ngModel" />
            <input name="password" placeholder="Mật khẩu" type="password" [(ngModel)]="model.password" #password="ngModel" />
        </div>
        <div class="actions">
            <button type="submit" class="approve">Đăng nhập</button>
        </div>
    </form>
</section>
