﻿.login-modal {
    width: 340px !important;
    height: 160px !important;
    position: absolute !important;
    top: calc(50% - 80px) !important;
    left: calc(50% - 170px) !important;
    border-radius: 0 !important;
    margin: 0 !important;

    .body {
        padding: 10px 20px;

        > input {
            margin: 10px 0;
            border: 2px solid #000;
            padding: 5px;
        }
    }

    .actions {
        border: 0 !important;
        background-color: transparent !important;
        border-radius: 0 !important;
        text-align: center;
        padding: 0 10px !important;

        * {
            width: 50%;
            cursor: pointer;
            display: inline-block !important;
            border: 2px solid #000;
            padding: 5px;
            background-color: transparent;
        }
    }
}
