﻿section.navbar {
    position: fixed;
    top: 30px;
    left: 0;
    color: #fff;

    &.fixed {
        top: 0;
        background: #000;
        opacity: 0.7;

        .nav-logo {
            img {
                height: 60px;
            }
        }
    }

    nav {
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        transition: height 0.3s;
        width: 80%;
        margin: auto;

        > * {
            flex: 1;
        }

        .nav-logo {
            text-align: center;

            img {
                height: 44px;
            }
        }

        .left-nav, .right-nav {
            padding: 10px 20px;
            text-align: center;
            flex: 2;

            > :first-child {
                margin-left: 0;
            }

            > * {
                margin-left: 20px;
            }

            a {
                position: relative;
                cursor: pointer;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: uppercase;

                &:hover::after {
                    width: 100%;
                }

                &:after {
                    content: "";
                    width: 0px;
                    height: 1px;
                    position: absolute;
                    left: 0px;
                    bottom: 3px;
                    transition: width 0.3s ease;
                    background: #fff;
                }
            }
        }

        .left-nav {
        }

        .right-nav {
            text-align: right;
        }
    }
}
