﻿<div [hidden]="isHide" [ngClass]="['alert', alertType]" role="alert">
    <button type="button" class="close" (click)="hideAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message.text}}
</div>