﻿body {
    margin: 0;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

ul {
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.flex {
    display: flex !important;

    &.flex-center {
        justify-content: center;
        align-items: center;
    }

    &.flex-column {
        flex-direction: column;
    }
}

.alert {
    margin-bottom: 0;

    &.alert-error {
        background-color: #f2dede;
        border-color: #ebcccc;
        color: #a94442;
    }
}

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
}

.ui.segment {
    height: 100vh;
    padding: 0;
    margin: 0;
}

section.pre-loader {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    height: 100vh;

    .content {
        height: 100%;
        text-align: center;

        .preloader-wrapper {
            top: calc(50% - 32px);
        }
    }
}
