﻿.vertical-dropdown {
    ul {
        list-style: none;
        padding: 0;
    }

    .menu {
        border-top: 1px solid #585858;

        .title {
            text-transform: uppercase;
            text-align: center;
            text-shadow: 1px 2px #000;
            margin-top: 10px;
        }

        .items {
            cursor: pointer;

            .item {
                &.active {
                    border-right: 5px solid #23e586;
                }

                .dropdown, .no-dropdown {
                    display: block;
                    padding: 10px;
                    padding-right: 35px;
                    position: relative;

                    &.active {
                        background: linear-gradient(#334556, #2C4257), #2A3F54;
                        box-shadow: 0px 1px 0px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(255,255,255,0.16);
                    }

                    i {
                        margin-right: 10px;
                    }

                    span {
                        position: absolute;
                        right: 20px;
                        top: calc(50% - 8px);
                    }
                }

                .dropdown-content {
                    display: none;

                    .content {
                        position: relative;
                        padding-left: 40px;
                        padding-top: 5px;
                        padding-bottom: 5px;

                        &.active, &:hover {
                            background: rgba(255, 255, 255, 0.05);
                        }

                        &:before, &:after {
                            content: " ";
                            margin-left: 20px;
                            position: absolute;
                            width: 10px;
                        }

                        &:before {
                            background: #425668;
                            border-radius: 100%;
                            height: 10px;
                            left: 0;
                            top: calc(50% - 5px);
                        }

                        &:after {
                            border-left: 1px solid #425668;
                            left: 5px;
                            top: 0;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
