﻿<section class="passbook-types">
    <h2 class="title">Danh sách loại tài khoản tiết kiệm</h2>

    <div class="empty-notice" *ngIf="!savingAccountTypes.length">Không có loại tài khoản tiết kiệm nào.</div>

    <div *ngIf="savingAccountTypes.length">
        <div class="k-content wide">
            <div id="saving-account-type-list"></div>
        </div>
    </div>
</section>
