﻿<section class="deposit-passbook">
    <h2 class="title">Gửi tiền</h2>

    <h4 class="title">Thông tin tài khoản</h4>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Loại sổ tiết kiệm:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.savingAccountType.name}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Số dư:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.balance + depositViewModel.savingAccount.interest | number}} VNĐ
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Tên khách hàng:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.user.name}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Chứng minh nhân dân:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.user.personalIdentity}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Email:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.user.email}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày sinh:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.user.dateOfBirth | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Địa chỉ:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.user.address}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Số điện thoại:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.bankAccount.user.phoneNumber}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày mở:</label>
                </div>

                <div class="col">
                    {{depositViewModel.savingAccount.createdAt | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày đáo hạn:</label>
                </div>

                <div *ngIf="depositViewModel.savingAccount.closedAt" class="col">
                    {{depositViewModel.savingAccount.closedAt | date: 'dd/MM/yyyy'}}
                </div>

                <div *ngIf="!depositViewModel.savingAccount.closedAt" class="col">
                    Không kỳ hạn
                </div>
            </div>
        </div>
    </div>

    <br />

    <form (ngSubmit)="submitForm()" [formGroup]="depositForm" novalidate>
        <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.value }">
            <label for="value" class="col-5 col-form-label">Số tiền cần gửi</label>
            <div class="col-5">
                <div class="input-group">
                    <input class="form-control" step="{{adminSetting.value}}" max="3000000000" min="{{adminSetting.value}}" type="number" id="value" formControlName="value" required numberValidator maximumNumberValidator>
                </div>

                <p *ngIf="formErrors.value" class="form-control-feedback">
                    {{formErrors.value}}
                </p>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.trader }">
            <label for="trader" class="col-5 col-form-label">Người giao dịch</label>
            <div class="col-5">
                <div class="input-group">
                    <input class="form-control" type="text" id="trader" formControlName="trader" required>
                </div>

                <p *ngIf="formErrors.trader" class="form-control-feedback">
                    {{formErrors.trader}}
                </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 submit">
                <button type="submit" class="btn btn-primary">Gửi tiền</button>
            </div>

            <div class="col-12 submit">
                <button routerLink="/admin-portal/passbooks/{{depositViewModel.savingAccount.id}}" type="button" class="btn btn-secondary">Xem chi tiết</button>
            </div>
        </div>
    </form>
</section>