﻿<section class="admin-settings">
    <h2 class="title">Danh sách quy định</h2>

    <div *ngFor="let adminSetting of adminSettings" class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
            {{adminSetting.name}}
        </div>

        <div class="col col-lg-2">
            {{adminSetting.value | number}}
        </div>

        <div class="col col-lg-2">
            <button routerLink="edit/{{adminSetting.id}}" type="button" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
    </div>
</section>
