﻿<section class="monthly-saving-accounts-report">
    <h2 class="title">Báo cáo mở/đóng sổ theo tháng</h2>

    <form (ngSubmit)="submitForm()" [formGroup]="monthlyReportForm" novalidate class="criteria">
        <div class="saving-account-types">
            <select class="form-control" id="savingAccountType" formControlName="savingAccountType">
                <option *ngFor="let accountType of savingAccountTypes" [ngValue]="accountType">{{accountType.name}}</option>
            </select>
        </div>

        <div class="k-content" id="k-content">
            <input id="date" class="date-picker" formControlName="date" required />

            <p *ngIf="formErrors.date" class="form-control-feedback">
                {{formErrors.date}}
            </p>
        </div>

        <div class="button-report">
            <button type="submit" class="btn btn-primary">Xem báo cáo</button>
        </div>
    </form>

    <div [hidden]="!monthlySavingAccountsReportViewModels.length" class="k-content wide">
        <div id="report"></div>
    </div>

    <div id="monthly-saving-accounts-report-template" [hidden]="true">
        <div class="monthly-saving-accounts-report-template" style="position: absolute; width: 100%; height: 100%; top: 40px; left: 0; text-align: center;">
            <div style="display: flex; top: 40px; position: absolute; left: 0; right: 0;">
                <div class="saving-account-type" style="text-align: center; flex: 1;">Loại tiết kiệm: {{savingAccountType.name}}</div>
                <div class="date" style="text-align: center; flex: 1;">Tháng: {{date | date: 'MM/yyyy'}}</div>
            </div>
        </div>
    </div>
</section>
