﻿<section class="passbooks">
    <h2 class="title">Danh sách tài khoản tiết kiệm</h2>

    <div class="empty-notice" [hidden]="savingAccounts.length">Không có tài khoản tiết kiệm nào.</div>

    <div [hidden]="!savingAccounts.length">
        <div class="k-content wide">
            <div id="saving-account-list" (scroll)="scrollGrid($event)"></div>
        </div>
    </div>

    <div class="search-button" data-activates="slide-out">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div id="slide-out" class="side-nav collapse-content">
        <form (ngSubmit)="search()" #searchForm="ngForm" novalidate>
            <div class="form-group">
                <label for="bank-account-number">Số tài khoản</label>
                <input [(ngModel)]="savingAccountSearchViewModel.bankAccountNumber" #bankAccountNumber="ngModel" name="bankAccountNumber" type="text" class="form-control" id="bank-account-number" placeholder="Số tài khoản">
            </div>

            <div class="form-group">
                <label for="saving-account-type">Loại tài khoản</label>
                <select class="form-control" [(ngModel)]="savingAccountSearchViewModel.savingAccountType" #savingAccountType="ngModel" name="savingAccountType" id="saving-account-type">
                    <option *ngFor="let accountType of savingAccountTypes" [ngValue]="accountType.name">{{accountType.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="from-balance">Ngày mở</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon-from-balance">Từ: </span>
                            <input type="text" class="form-control date-picker" id="start-date">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon-to-balance">đến: </span>
                            <input type="text" class="form-control date-picker" id="end-date">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="user-name">Tên khách hàng</label>
                <input [(ngModel)]="savingAccountSearchViewModel.userName" #userName="ngModel" name="userName" type="text" class="form-control" id="user-name" placeholder="Tên khách hàng">
            </div>

            <div class="form-group">
                <label for="from-balance">Số dư</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon-from-balance">Từ: </span>
                            <input type="number" [(ngModel)]="savingAccountSearchViewModel.fromBalance" #fromBalance="ngModel" name="fromBalance" class="form-control" id="from-balance" min="{{adminSetting.value}}" step="{{adminSetting.value}}" aria-describedby="addon-from-balance">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon-to-balance">đến: </span>
                            <input type="number" [(ngModel)]="savingAccountSearchViewModel.toBalance" #toBalance="ngModel" name="toBalance" class="form-control" id="to-balance" min="{{adminSetting.value}}" step="{{adminSetting.value}}" aria-describedby="addon-to-balance">
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            <br />
            <button type="button" class="btn btn-secondary" (click)="clearSearch()">Xóa tìm kiếm</button>
        </form>
    </div>
</section>
