﻿<section class="passbook">
    <h2 class="title">Chi tiết tài khoản tiết kiệm</h2>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Loại sổ tiết kiệm:</label>
                </div>

                <div class="col">
                    {{savingAccount.savingAccountType.name}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Người mở:</label>
                </div>

                <div class="col">
                    {{savingAccount.employee.user.name}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Tên khách hàng:</label>
                </div>

                <div class="col">
                    {{savingAccount.bankAccount.user.name}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Chứng minh nhân dân:</label>
                </div>

                <div class="col">
                    {{savingAccount.bankAccount.user.personalIdentity}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Email:</label>
                </div>

                <div class="col">
                    {{savingAccount.bankAccount.user.email}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Số dư:</label>
                </div>

                <div class="col">
                    {{savingAccount.bankAccount.balance + savingAccount.interest | number}} VNĐ
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Địa chỉ:</label>
                </div>

                <div class="col">
                    {{savingAccount.bankAccount.user.address}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Số điện thoại:</label>
                </div>

                <div class="col">
                    {{savingAccount.bankAccount.user.phoneNumber}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày mở:</label>
                </div>

                <div class="col">
                    {{savingAccount.createdAt | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col article">
                    <label>Ngày đáo hạn:</label>
                </div>

                <div *ngIf="savingAccount.closedAt" class="col">
                    {{savingAccount.closedAt | date: 'dd/MM/yyyy'}}
                </div>

                <div *ngIf="!savingAccount.closedAt" class="col">
                    Không kỳ hạn
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button *ngIf="savingAccount.savingAccountType.name == 'Không kỳ hạn' && savingAccount.active" routerLink="/admin-portal/passbooks/{{savingAccount.id}}/deposit" type="button" class="btn btn-primary">
            Gửi tiền
        </button>

        <button *ngIf="savingAccount.active" routerLink="/admin-portal/passbooks/{{savingAccount.id}}/withdraw" type="button" class="btn btn-secondary">
            Rút tiền
        </button>

        <button routerLink="/admin-portal/passbooks/edit/{{savingAccount.id}}" type="button" class="btn btn-success">
            Chỉnh sửa
        </button>

        <button routerLink="/admin-portal/passbooks/{{savingAccount.id}}/history" type="button" class="btn btn-info">
            Lịch sử giao dịch
        </button>
    </div>
</section>
