﻿<section class="{{section}}">
    <h2 class="title">{{title}}</h2>

    <form (ngSubmit)="submitForm()" [formGroup]="savingAccountForm" novalidate>
        <div class="form-group row">
            <div class="col-6">
                <div class="form-group row">
                    <label for="savingAccountType" class="col-3 col-form-label">Loại sổ</label>
                    <div class="col-9">
                        <select class="form-control" id="savingAccountType" formControlName="savingAccountType">
                            <option *ngFor="let accountType of savingAccountTypes" [ngValue]="accountType">{{accountType.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.createdAt }">
                    <label for="k-content" class="col-3 col-form-label">Ngày mở</label>
                    <div class="col-9">
                        <div class="k-content" id="k-content">
                            <input id="createdAt" class="date-picker" formControlName="createdAt" required dateValidator />
                        </div>

                        <p *ngIf="formErrors.createdAt" class="form-control-feedback">
                            {{formErrors.createdAt}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" formGroupName="user">
            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.name }">
                    <label for="name" class="col-3 col-form-label">Khách hàng</label>
                    <div class="col-9">
                        <input class="form-control" type="text" id="name" required formControlName="name" blankStringValidator />

                        <p *ngIf="formErrors.name" class="form-control-feedback">
                            {{formErrors.name}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.email }">
                    <label for="email" class="col-3 col-form-label">Email</label>
                    <div class="col-9">
                        <input class="form-control" type="text" id="email" formControlName="email" required emailValidator blankStringValidator />

                        <p *ngIf="formErrors.email" class="form-control-feedback">
                            {{formErrors.email}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" formGroupName="user">
            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.dateOfBirth }">
                    <label for="dateOfBirth" class="col-3 col-form-label">Ngày sinh</label>
                    <div class="col-9">
                        <input class="date-picker" id="dateOfBirth" required formControlName="dateOfBirth" dateValidator />

                        <p *ngIf="formErrors.dateOfBirth" class="form-control-feedback">
                            {{formErrors.dateOfBirth}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.personalIdentity }">
                    <label for="personalIdentity" class="col-3 col-form-label">CMND</label>
                    <div class="col-9">
                        <input class="form-control" type="text" id="personalIdentity" formControlName="personalIdentity" required personalIdentityValidator>

                        <p *ngIf="formErrors.personalIdentity" class="form-control-feedback">
                            {{formErrors.personalIdentity}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" formGroupName="user">
            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.address }">
                    <label for="address" class="col-3 col-form-label">Địa chỉ</label>
                    <div class="col-9">
                        <textarea class="form-control" type="text" id="address" formControlName="address" required blankStringValidator></textarea>

                        <p *ngIf="formErrors.address" class="form-control-feedback">
                            {{formErrors.address}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.phoneNumber }">
                    <label for="phoneNumber" class="col-3 col-form-label">Số điện thoại</label>
                    <div class="col-9">
                        <input class="form-control" type="text" id="phoneNumber" formControlName="phoneNumber" required blankStringValidator phoneNumberValidator>

                        <p *ngIf="formErrors.phoneNumber" class="form-control-feedback" style="white-space: pre-line;">
                            {{formErrors.phoneNumber}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row" formGroupName="bankAccount">
            <div class="col-6" style="text-align: center; margin: auto;">
                <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.balance }">
                    <label for="balance" class="col-3 col-form-label">Số tiền gửi</label>
                    <div class="col-9">
                        <div class="input-group">
                            <input class="form-control" step="{{adminSetting.value}}" max="3000000000" min="{{adminSetting.value}}" type="number" id="balance" formControlName="balance" required numberValidator minimumNumberValidator maximumNumberValidator>
                            <div class="input-group-addon">VNĐ</div>
                        </div>

                        <p *ngIf="formErrors.balance" class="form-control-feedback">
                            {{formErrors.balance}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div *ngIf="section == 'new-passbook'" class="col-12 submit">
                <button type="submit" class="btn btn-primary">Mở sổ</button>
            </div>

            <div *ngIf="section == 'edit-passbook'" class="col-12 submit">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </form>
</section>