﻿<section class="{{section}}">
    <h2 class="title">{{title}}</h2>

    <form (ngSubmit)="submitForm()" [formGroup]="savingAccountTypeForm" novalidate>
        <div *ngIf="!isNoTerm" class="form-group row" [ngClass]="{ 'has-danger': formErrors.name }">
            <label for="name" class="col-5 col-form-label">Tên loại tài khoản</label>
            <div class="col-7">
                <div class="input-group">
                    <input class="form-control" type="number" id="name" formControlName="name" step="1" min="0" required numberValidator>
                    <span class="input-group-addon" id="name">tháng</span>
                </div>

                <p *ngIf="formErrors.name" class="form-control-feedback">
                    {{formErrors.name}}
                </p>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{ 'has-danger': formErrors.interestRate }">
            <label for="interestRate" class="col-5 col-form-label">Lãi suất</label>
            <div class="col-7">
                <div class="input-group">
                    <input class="form-control" type="number" step="0.1" min="0" id="interestRate" formControlName="interestRate" required floatNumberValidator>
                </div>

                <p *ngIf="formErrors.interestRate" class="form-control-feedback">
                    {{formErrors.interestRate}}
                </p>
            </div>
        </div>

        <div *ngIf="!isNoTerm" class="form-group row" [ngClass]="{ 'has-danger': formErrors.term }">
            <label for="term" class="col-5 col-form-label">Lãi suất theo kỳ hạn</label>
            <div class="col-7">
                <div class="input-group">
                    <input class="form-control" type="number" step="0.1" min="0" id="term" formControlName="term" required floatNumberValidator>
                </div>

                <p *ngIf="formErrors.term" class="form-control-feedback">
                    {{formErrors.term}}
                </p>
            </div>
        </div>

        <div class="form-group row">
            <div *ngIf="section == 'new-passbook-type'" class="col-12 submit">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>

            <div *ngIf="section == 'edit-passbook-type'" class="col-12 submit">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </form>
</section>